//Rocket Animations 
.moon-landing {
    animation: moonlanding 3s;
    animation-fill-mode: forwards;
    height: 100px;
    position: absolute;
    top: 105px;
    z-index: 1;
}

@keyframes moonlanding {
    0% {
        transform: translate(40px, -40px) rotate(-45deg);
    }
    50% {
        transform: translate(127px, -90px) rotate(-45deg);
    }
    80% {
        transform: translate(127px, -70px) rotate(-90deg);
        height: 60px;
    }
    100% {
        transform: translate(127px, -45px) rotate(-90deg);
        height: 60px;
    }
}





.rocket-img {
    height: 100px;
    position: absolute;
    top: 103px;
    z-index: 1;
    animation: shake 2s infinite;
    left: 0%;
    transition: left 2s ease-in;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-1deg);
    }
    20% {
        transform: rotate(1deg);
    }
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
    }
    60% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(-1deg);
    }
    80% {
        transform: rotate(1deg);
    }
    90% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}




.earth-img {
    height: 160px;
    position: absolute;
    top: 68px;
    left: 3%;
    z-index: 1;
}

.moon-img {
    height: 100px;
    position: absolute;
    top: 100px;
    z-index: 1;
    top: 102px;
<<<<<<< HEAD
    right: 6%;
    
=======
    left: 950px;

>>>>>>> e1be070a64026db3dd2c7b3802960a4f8f793b70
}

.moon-flag {
    height: 50px;
    position: absolute;
    right: 36px;
    top: 112px;

    animation: moonflag 3s;
    animation-fill-mode: forwards;
}

@keyframes moonflag {
    //    0% { transform: translate(40px, -40px);}
    ////    10% { transform: translate(40px, -40px) rotate(-45deg); }
    ////    20% { transform: translate(50px, -50px) rotate(-35deg); }
    ////    30% { transform: translate(60px, -60px) rotate(-25deg); }
    ////    40% { transform: translate(70px, -70px) rotate(-15deg); }
    //    50% { transform: translate(127px, -90px);}
    ////          height: 60px;}
    ////    60% { transform: translate(110px, -70px) rotate(-90deg); }
    ////    70% { transform: translate(110px, -10px) rotate(-90deg); }
    //    80% { transform: translate(127px, -70px);}
    ////    90% { transform: translate(110px, -70px) rotate(-90deg); }
    100% {
        transform: translate(25px, -40px) rotate(35deg);
    }
}



.rocketloading {
    position: relative;
    hr {
<<<<<<< HEAD
    border: none;
    border-top: 2px dashed #ffffff;
    color: #fff;
    
    height: 1px;
    width: 79%;
    left: 12%;
    top: 143px;
    z-index: 0;
    position: absolute;
}
=======
        border: none;
        border-top: 2px dotted #27626c;
        color: #fff;
        background-color: #fff;
        height: 1px;
        width: 79%;
        left: 12%;
        top: 143px;
        z-index: 0;
        position: absolute;
    }
>>>>>>> e1be070a64026db3dd2c7b3802960a4f8f793b70
}

//Rocket Animations Ends 
/*CONCEPTS TIMELINE*/

.commonbox {
    height: 75px;
    padding: 15px 10px;
}

.testline {
    width: 3px;
    height: 50px;
    background: $primary-color;
    margin-top: -20px;
}

.testcircle {
    width: 80px;
    height: 80px;
    background: $primary-color;
    border-radius: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.64);
    cursor: pointer;
}

.conceptpercentouterdiv {
    padding: 2% !important;
    padding-bottom: 0px !important;
}

.conceptpercentbg {
    text-align: center;
    background-image: url(../img/circle_percent_holder.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding-top: 10% !important;
    font-size: 1.1em !important;
    padding-bottom: 10% !important;
    @media screen and (max-width: $break-small) {
        padding-top: 27% !important;
        font-size: 0.8em !important;
    }
    @media screen and (max-width: $break-tiny) {
        padding-top: 27% !important;
        font-size: 0.8em !important;
        margin-top: 30%;
    }
}

.conceptdiv {
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    @media screen and (max-width: $break-small) {}
    @media screen and (max-width: $break-tiny) {
        width: initial;
    }
}

.conceptdotdiv {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.concepttitle {
    color: $grey-text;
    text-align: left;
    font-size: 1.8em;
    padding-bottom: 1% !important;
    padding-top: 1% !important;
    @media screen and (max-width: $break-small) {
        font-size: 1.2em;
    }
}

.conceptbuttons {
    font-size: 1.2em;
    font-weight: 300;
    @media screen and (max-width: $break-small) {
        font-size: 1.1em;
    }
    @media screen and (max-width: $break-tiny) {
        font-size: 1em;
    }
}

.conceptcompletionline {
    background-color: $primary-color;
    height: 3px;
    float: left;
    margin-top: 6px !important;
    border-radius: 2px;
}

.conceptdot {
    width: 20px !important;
    height: 20px !important;
    background-color: $primary-color !important;
    @media screen and (max-width: $break-small) {
        height: 8px !important;
        width: 8px !important;
    }
    @media screen and (max-width: $break-tiny) {
        height: 6px !important;
        width: 6px !important;
    }
}

.circledotanimation {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon2 {
    from {
        box-shadow: 0 0 2px $primary-color, 0 0 4px $primary-color, 0 0 6px $primary-color, 0 0 8px $primary-color, 0 0 10px $primary-color, 0 0 12px $primary-color, 0 0 14px $primary-color, 0 0 16px $primary-color;
    }
    to {
        box-shadow: 0 0 2px $primary-color, 0 0 2px $primary-color, 0 0 2px $primary-color, 0 0 2px $primary-color, 0 0 2px $primary-color, 0 0 2px $primary-color, 0 0 2px $primary-color, 0 0 2px $primary-color;
    }
}

.progressbar-icon {
    position: absolute;
    top: -10px;
    right: -11px;
    color: #37474f;
    &:hover {
        .tooltiptext {
            visibility: visible;
        }

    }
}

.concept-grade {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 500;
    font-size: 1.9em;
    color: #00bcd4;
}

.custom-image {
    width: 60% !important;
    margin-top: 5% !important;
}

.tooltiptext {
    visibility: hidden;
    width: 45px;
    background-color: #00bcd4;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    right: -10px;
    margin-top: 25px;
    z-index: 2;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #00bcd4 transparent;

}
