.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: ceraM;
}

.landing-bg {
    background-image: url("/img/landing-img.png");
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    background-position-x: right;
    background-size: contain;
    font-family: ceraM;
}

#landing-overlay {
    position: absolute;
    background-color: #000000a3;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}


.landing-login {
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, .25);
    width: 150px;
    height: 40px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00bcd4;
    text-transform: uppercase;
    margin-right: 20px;
    font-family: ceraM;
    font-size: 16px;
    //    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
}

.landing-login:hover {
    cursor: pointer;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .14), 0 4px 2px -3px rgba(0, 0, 0, .12), 0 0px 10px 0 rgba(0, 0, 0, .2);
}

.landing-maintext {
    font-family: CeraGR-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 58px;
    width: 451px;
    color: #606060;
    font-family: ceraM;
    margin: 0px;
}

.joinus-input {
    width: 463px;
    padding: 10px 25px;
    height: 45px;
    background: #fbfbfb;
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
    border-radius: 31px;
    font-family: ceraM;
    position: relative;
    margin-top: 18px;
    display: flex;
    align-items: center;
}

.join-inputbox {
    font-family: ceraThin;
    font-style: normal;
    font-weight: 100;
    font-size: 18px !important;
    line-height: 153.5%;
    color: #000000;
    border-bottom: none !important;
    margin: 0 !important;
    height: 18px !important;
}

.join-inputbox:hover {
    border-bottom: none !important;
}

.join-inputbox:focus {
    box-shadow: none !important;
}

.landing-content {
    display: inline-block;
    margin-left: 50px;
    margin-top: 100px;
    font-family: ceraM;
}

.join-text {
    position: absolute;
    background-color: #00bcd4;
    width: 100px;
    top: 50%;
    transform: translateY(-50%);
    right: -1px;
    height: 104%;
    border-radius: 0 31px 31px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ceraBlack;
    color: #fff;
    //    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
}

.join-text:hover {
    cursor: pointer;
    //    box-shadow: 1px 3px 0 0 rgba(0,0,0,.34), 0 1px 0 2px rgba(0,0,0,.12), 0 0 4px 0 rgba(0,0,0,.2);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .34), 0px 0px 0px 1px rgba(0, 0, 0, .12), 0px 0px 5px 2px rgba(0, 0, 0, .2);
}

.landing-subtext {
    font-family: ceraThin;
    font-size: 20px;
    color: #606060;
    //    padding-bottom: 10px;
    margin: 0;
}

#login-modal {
    width: 70%;
    display: block;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.loginmodal-x {
    svg {
        height: 15px;
        width: 15px;
        position: absolute;
        top: 10px;
        z-index: 10;
        right: 10px;

        path {
            fill: #00bcd4;
        }
    }

    svg:hover {
        cursor: pointer;
    }
}

#signup-modal {
    width: 70%;
    //        height: 75%;
    display: block;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}


.signupmodal-x {
    svg {
        height: 15px;
        width: 15px;
        position: absolute;
        top: 10px;
        z-index: 10;
        right: 10px;

        path {
            fill: #00bcd4;
        }
    }

    svg:hover {
        cursor: pointer;
    }
}

.loginSection-ForgotPassword a:hover {
    cursor: pointer;
}

.loginSection-ForgotPassword {
    margin-top: 10px;
}


//.signup-div-wrapper {
//    height: 700px;
//}

@media only screen and (max-width: 1100px) {
    .container-div {
        margin: auto !important;
    }


}
