///*Login box*/
//
//.logintext {
//    background-color: $secondary-color;
//    height: 480px;
//}
//
//.loginlogo {
//    background-color: $primary-color;
//    height: 480px;
//    @media screen and (max-width: $break-small) {
//        height: 17vh;
//    }
//}


.mainDiv {
    height: 100vh;
    margin: 0;
}

.rocketSection {
    background-color: #00BCD4;
    height: 100%;
    padding: 0 !important;
    position: relative;
    
    &-Star1 {
         width: 6%;
    position: absolute;
    top: 37%;
    left: 55%;
    z-index: 20;
    }
    
     &-Star2 {
           width: 9%;
    position: absolute;
    top: 48%;
    left: 9%;
    z-index: 20;

    }
    
     &-Star3 {
        position: absolute;
    top: 52%;
    width: 8%;
    left: 78%;
    z-index: 20;

    }
    
     &-Star4 {
      width: 12%;
    position: absolute;
    top: 20%;
    left: 70%;
    z-index: 20;
    }
    
     &-Star5 {
          width: 7%;
        position: absolute;
    top: 22%;
    left: 18%;
    z-index: 20;
    }
    
    &-Rocket {
    width: 100%;
    position: absolute;
    top: 50%;
        z-index: 20;
        p {
            text-align: center;
            font-size: 1.7vw;
            color: #fff;
            font-weight: 600;
            margin-top: -10px;
            text-shadow: -1px 2px 10px rgba(0,0,0,0.4);
        }
        
        
        img {
            width: 20%;
            margin: 0 auto;
            display: block;
        }

    
    }
    
    
    &-Astroman {
              top: 30%;
              left: 71%;
              position: absolute;
              width: 70%;
        }
    
    &-TopDesign {
            margin-left: -10px;
        width: 105%;
        opacity: .5;
        
    }
    
       &-BottomDesign {
           
    position: absolute;
    width: 100%;
    z-index: 20;
    bottom: 0;
      
        
    }
    
    &-BlueBg {
        background-color: #00BCD4;
        position: relative;
        z-index: 15;
        height: 80%;

        
    }
    
    
    
}

.loginSection {
//    background-color: white;
    height: 100%;
    @extend .cerafont;
    
    &-loginformrow {
        display: flex;
        margin: 0 auto;
        position: relative;
        width: 55% !important;
        height: 65px;
        justify-content: space-between;      
            input {
                    width: 100% !important;
                    background-color: transparent !important;
                    margin: 0 auto !important;
                    display: block !important;
                    padding-left: 30px !important;
                    border-bottom: 1.2px solid #c0c0c0 !important;
            &:focus {
                border-bottom: 1px solid $loginblue-color !important;
                box-shadow: 0 1px 0 0 $loginblue-color !important;
                
            }
        }
        
         input:focus + svg-img {
                path {
                    fill: $loginblue-color !important;
                }
            }
        
        svg {
            height: 20px;
            width: 20px;
            position: absolute;
               top: 13px;
            left: 5px;
             path {
                fill: #D4DFEF;
            }
        }
        
        
    }
    
  
    
   
    &-LoginText {
        margin-top: 8%;
        margin-bottom: 8%;
        text-align: center;
        font-family: ceraBlack;
        color: #575558;
    }
    

    &-Button {
        position: absolute;
        right: 0px;
        border-radius: 20px;
        width: 170px;
        background: linear-gradient(#51d0e1, #00bcd4 );
          text-transform: capitalize;
        font-size: 19px;
        @extend .cerafont;
                .right {
            position: relative;
            right: 20px;
            transition: 0.2s right;
            top: 18px;
            transform: translateY(-50%);
        }
        &:hover {
            .right {
                right: 10px;
            }
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
    
    
    &-ForgotPassword {
            position: relative;
        
            text-align: center !important;
                   
        a {
            
            display: block;
            font-size: .8em;
            color: #575558;
            position: absolute;
            left: 0px;
        }

        }
    
    &-SignupLink {
            text-align: center;
            margin-top: 100px;
        span {
            font-size: 1.3em;
            font-family: ceraM;
        }
        
        a {
            color: #00bcd4;
            font-family: ceraBlack;
        }
    }
    
    
    
}

.input-phone-number::placeholder {
    text-align: center;
}

.input-phone-number {
    width: 200px !important;
    text-align: center;
}

//Remove the arrow in the input type
.input-phone-number::-webkit-inner-spin-button,
.input-phone-number::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.modal-2 {
border-radius: 35px;
    width: 35%;
    height: 35%;
    min-width: 500px;
    min-height: 290px;
    
}

.lock-img {
        position: relative;
        width: 100%;
        
        svg {
        height: 30px;
        width: 30px;
        text-align: center;
        margin: 10px auto;
        display: block;
        
        path {
            fill: #D4DFEF;
        }
    }
    
    .lock-line{
            position: absolute;
            height: 2px;
            background-color: #d4dfef;
            width: 100%;
            top: 66%;
                z-index: -1;
        }
}


.modalcontent2 {
    text-align: center;
    padding: 0 !important;
    input {
            margin-bottom: 40px !important;
    margin-top: 15px !important;
    }
}