///*Login box*/
//
//.logintext {
//    background-color: $secondary-color;
//    height: 480px;
//}
//
//.loginlogo {
//    background-color: $primary-color;
//    height: 480px;
//    @media screen and (max-width: $break-small) {
//        height: 17vh;
//    }
//}


.mainDiv {
    height: 100vh;
    margin: 0;
}

.rocketSection {
    background-color: #00BCD4;
    height: 100%;
    padding: 0 !important;
    position: relative;
    
    &-Star1 {
        height: 21px;
        position: absolute;
        top: 37%;
        left: 55%;
        z-index: 20;
    }
    
     &-Star2 {
        height: 30px;
        position: absolute;
        top: 56%;
        left: 9%;
        z-index: 20;

    }
    
     &-Star3 {
        height: 40px;
        position: absolute;
        top: 56%;
        left: 70%;
        z-index: 20;

    }
    
     &-Star4 {
        height: 42px;
        position: absolute;
        top: 20%;
        left: 75%;
        z-index: 20;
    }
    
     &-Star5 {
        height: 24px;
        position: absolute;
        top: 22%;
        left: 18%;
        z-index: 20;
    }
    
    &-Rocket {
    height: 200px;
    position: absolute;
    top: 50%;
    left: 25%;
        z-index: 20;
        p {
            text-align: center;
            font-size: 1.3em;
            color: #fff;
            font-weight: 600;
        }
        
        
        img {
            height: 170px;
            margin: 0 auto;
            display: block;
        }

    
    }
    
    
    &-Astroman {
            top: 30%;
            left: 21%;
            height: 130px;
            position: absolute;
        }
    
    &-TopDesign {
            margin-left: -10px;
        width: 105%;
        opacity: .5;
        
    }
    
       &-BottomDesign {
           
    position: absolute;
    width: 100%;
    z-index: 20;
    bottom: 0;
      
        
    }
    
    &-BlueBg {
        background-color: #00BCD4;
        position: relative;
        z-index: 15;
        height: 80%;

        
    }
    
    
    
}

.loginSection {
    background-color: white;
    height: 100%;
    
    &-LoginText {
        margin-top: 8%;
        margin-bottom: 8%;
        text-align: center;
        font-family: ceraBlack;
        color: #575558;
    }
    
    &-Phone {
        position: relative;
        input {
                    width: 40% !important;
                    background-color: white !important;
                    margin: 0 auto !important;
                    display: block !important;
                    padding-left: 30px !important;
        }
        
         input:focus + svg-img {
                path {
                    fill: #26a69a !important;
                }
            }
        
        svg {
            height: 20px;
            width: 20px;
            position: absolute;
            left: 29%;
            top: 13px;
             path {
                fill: #D4DFEF;
            }
        }
    }
    
    &-Password {
        
        position: relative;
        input {
                    width: 40% !important;
                    background-color: white !important;
                    margin: 0 auto !important;
                    display: block !important;
                    padding-left: 30px !important;
        }
        
        input:focus + svg-img {
                path {
                    fill: #26a69a !important;
                }
            }
        
         svg {
            height: 20px;
            width: 20px;
            position: absolute;
            left: 29%;
            top: 13px;
              path {
                fill: #D4DFEF;
            }
        }
    }
    
    &-Button {
        border-radius: 20px;
        margin-left: 53%;
        width: 170px;
        background-color: #51d0e1;
    }
    
    &-ForgotPassword {
        
            text-align: center !important;
                   
        a {
            margin-right: 33% !important;
            margin-top: 10px;
            display: block;
            font-size: .8em;
            color: #575558;
        }

        }
    
    &-SignupLink {
            text-align: center;
            margin-top: 100px;
        span {
            font-size: 1.3em;
            font-family: ceraM;
        }
        
        a {
            font-family: ceraBlack;
        }
    }
    
    
    
}