.profile-page {
    background-color: #256672;
    height: 100%;
    position: absolute;
    width: 100%;
}

.yoursection-content svg {
    height: 85px;
    width: 85px;
}

.time-practiced svg {
    height: 30px;
    width: 30px;
}

.your-profile {
    margin: 50px;
}

.your-section {
    margin: 50px;
}

.yourprofile-picture {
    img {
        width: 88px;
    border-radius: 50%;
    border: 2px solid #00bcd4;
    }
}

.yourprofile-content {
    width: 70%;
}
.yourprofile-edit{
    margin: 12px 0 0 0;
}

.yourprofile-editbtn {
   
    border: 1px solid #00BCD4;
    width: 130px;
    height: 30px;
    display: flex;
    justify-content: center;
    color: #00BCD4;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    width: 166px;
    height: 46px;
    border-radius: 50px;

}

.yourprofile-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 4px;
}

.time-practiced {
        display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 10px 10px 0px;
    padding-right: 30px;
    border-right: 1px solid;
}

.time-practiced-div {
    display: flex;
    justify-content: flex-start;
}

.yourprofile-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.72);

}

.yourprofile-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #606060;
    margin: 0;
}

.yourprofile-school {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #606060;
    margin: 0;
}

.timepracticed-number {
        display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.tp-hrs {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #606060;
}

.tp-text {
    font-family:roboto-regular;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 11px;
    color: #606060;
}



.yoursection-content {
    position: relative;
    display: flex;
    background: #fff;
    border-radius: 28px;
    width: 197px;
    height: 197px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 0px 40px 0px 0px;
}

.yoursection-content span{
    position: absolute;
    bottom: 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #606060;
}

.yoursection-div {
        display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.profile-button:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 4px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}
