
.signupSection {
    background-color: white;
    height: 100%;
    overflow: hidden;
    
    &-LoginText {
        text-align: center;
        margin-bottom: 40px;
        font-family: ceraBlack;
        color: #575558;
    }
    
    &-Name {
        position: relative;
     
       input {
                    width: 40% !important;
                    background-color: white !important;
                    margin: 0 auto !important;
                    display: block !important;
                    padding-left: 30px !important;
         
        
            

     
        }
        
        
           input:focus + svg-img {
                path {
                    fill: #26a69a !important;
                }
              }
           
        
      
        
        svg {
            height: 20px;
            width: 20px;
            position: absolute;
            top: 13px;
            left: 29%;
            path {
                fill: #D4DFEF;
            }
        }
        
        
    }
    
      &-School {
        position: relative;
            margin-top: 20px;
     
       input {
                    width: 40% !important;
                    background-color: white !important;
                    margin: 0 auto !important;
                    display: block !important;
                    padding-left: 30px !important;
 
        }
        
        
           input:focus + svg-img {
                path {
                    fill: #26a69a !important;
                }
              }
           
        
      
        
        svg {
            height: 20px;
            width: 20px;
            position: absolute;
            top: 13px;
            left: 29%;
             path {
                fill: #D4DFEF;
            }
        }

    }
    
    
          &-Email {
        position: relative;
     
       input {
                    width: 40% !important;
                    background-color: white !important;
                    margin: 0 auto !important;
                    display: block !important;
                    padding-left: 30px !important;

        }
        
        
           input:focus + svg-img {
                path {
                    fill: #26a69a !important;
                }
              }
        svg {
            height: 20px;
            width: 20px;
            position: absolute;
            top: 13px;
            left: 29%;
             path {
                fill: #D4DFEF;
            }
              }
    }
    
    &-Phone {
        
        position: relative;
        margin-top: 20px;
        input {
                    width: 40% !important;
                    background-color: white !important;
                    margin: 0 auto !important;
                    display: block !important;
                    padding-left: 30px !important;
        }        
       
       input:focus + svg-img {
                path {
                    fill: #26a69a !important;
                }
              }
          svg {
            height: 20px;
            width: 20px;
            position: absolute;
            top: 13px;
            left: 29%;
               path {
                fill: #D4DFEF;
            }
              }
   
    }
    
    
    &-Password {
        margin-top: 20px;
        position: relative;
        text-align: center;
        margin-top: 10px;
        input {
                    width: 14.5%!important;
                    background-color: #fff!important;
                    padding-left: 30px!important;
                    margin: 0 38px !important;
            
        }
        
           input:focus + svg-img {
                path {
                    fill: #26a69a !important;
                }
              }
        
        
        
    }
    
    &-PassImg {
        svg {
             height: 20px;
                width: 20px;
                position: absolute;
                left: 29%;
                top: 10px;
            path {
                fill: #D4DFEF;
            }
            }
        }
        
        &-ConfPass {
                height: 20px;
                width: 20px;
                position: absolute;
                left: 29%;
                top: 19px;
            
             svg {
                height: 20px;
                width: 20px;
                position: absolute;
                left: 29%;
                top: 10px;
            }
        }
    
    &-Button {
        border-radius: 20px;
        margin-left: 53%;
        width: 170px;
        background-color: #51d0e1;
        a {
            text-decoration: none;
            color: white;
        }
    }
    
      
    &-SignupLink {
            text-align: center;
            margin-top: 100px;
        span {
            font-size: 1.3em;
            font-family: ceraM;
        }
        
        a {
            font-family: ceraBlack;
        }
    }
    
    &-Modal {
    border-radius: 35px;
    width: 40%;
    height: 45%;
    min-width: 550px;
    min-height: 360px;
    
    
    }
    
     &-ModalContent {
    text-align: center;
    
    }
    
    
    &-ModalText1 {
    color: #13b1c5;
    font-size: 1.3em;
    }
    
        &-ModalText2 {
        color: grey;
    font-size: .9em;
    margin-top: -10px;
    }

    
        &-ModalText3 {
        color: #646060;
    }

    
        &-ModalText4 {
            color: #646060;
    margin-top: 0px;
    }
    
    &-ModalButtons {
    margin: 0 auto;
    display: block;
    width: 400px;
    text-align: center;
    }
    
        &-ModalButton {
        border-radius: 20px;
    margin: 0 15px;
    }
    
    &-SelectInput {
            width: 22% !important;
            color: #D4DFEF;
    }
    
    &-SelectDiv {
            margin-left: 27% !important;
            
    }
    
    

        
}

.input-otp {
    width: 10%!important;
    height: 36px !important;
    background-color: #efefef !important;
    border: 5px solid #fff!important;
    text-align: center;
}

.input-otp::-webkit-inner-spin-button, 
.input-otp::-webkit-outer-spin-button { 
    appearance: none;
    margin: 0; 
}
