.abc {
    width: 100%;
}

.signupSection {
    background-color: white;
    height: 100%; //    overflow: hidden;
    &-LoginText {
        text-align: center;
        margin-bottom: 40px;
        font-family: ceraBlack;
        color: #575558;
    }

    &-formrow {
        display: flex;
        margin: 0 auto;
        position: relative;
        width: 55% !important;
        height: 65px;
        justify-content: space-between;
        
        .dropdown-content li>span {
        color: $loginblue-color;
            text-align: center;
        }
        
        .select-wrapper {
           color: #d4dfef;
        } 
        .select-wrapper span.caret {
            z-index: 9;
                color: #9da3ac;
        } 
        
        input {
            border-bottom: 1.2px solid #c0c0c0 !important;
            &:focus {
                border-bottom: 1px solid $loginblue-color !important;
                box-shadow: 0 1px 0 0 $loginblue-color !important;
                
            }
        }

        &-break {
            position: relative;
            margin: 0;
            width: 48%;
            .select-dropdown {
                width: 85% !important;
                margin: 0 !important;
            }
            .break-input {
                width: 85% !important;
                margin: 0 !important;
            }
        }

        input {
            width: 100% !important;
            margin: 0 auto !important;
            display: block !important;
            padding-left: 30px !important;
        }


        input:focus + svg-img {
            path {
                fill: $loginblue-color !important;
            }
        }




        svg {
            height: 20px;
            width: 20px;
            position: absolute;
            top: 13px;
            left: 5px;
            path {
                fill: #D4DFEF;
            }
        }


    } 
    
    .form-button-wrapper {
        justify-content: flex-end;
    }
    &-button {
        position: relative;
        padding-right: 70px;
        text-transform: capitalize;
        font-size: 19px;
        @extend .cerafont;
        border-radius: 20px;
        background: linear-gradient(#51d0e1, #00bcd4);
        .right {
            position: absolute;
            right: 40px;
            transition: 0.2s right;
            top: 50%;
            transform: translateY(-50%);
        }
        &:hover {
            .right {
                right: 30px;
            }
        }
        a {
            text-decoration: none;
            color: white;
        }
    }


    &-SignupLink {
        text-align: center;
        margin-top: 100px;
        span {
            font-size: 1.3em;
            font-family: ceraM;
        }

        a {
            font-family: ceraBlack;
            color: #00bcd4;
        }
    }

    &-Modal {
        border-radius: 35px;
        width: 40%;
        height: 45%;
        min-width: 550px;
        min-height: 360px;


    }

    &-ModalContent {
        text-align: center;

    }


    &-ModalText1 {
        color: #13b1c5;
        font-size: 1.3em;
    }

    &-ModalText2 {
        color: grey;
        font-size: .9em;
        margin-top: -10px;
    }


    &-ModalText3 {
        color: #646060;
    }


    &-ModalText4 {
        color: #646060;
        margin-top: 0px;
    }

    &-ModalButtons {
        margin: 0 auto;
        display: block;
        width: 400px;
        text-align: center;
        
    }

    &-ModalButton1 {
        border-radius: 20px;
        margin: 0 15px;
        background: linear-gradient(#51e19b,#00d450);
        
                .right {
            position: relative;
            right: 10px;
            transition: 0.2s right;
            top: 18px;
            transform: translateY(-50%);
        }
        &:hover {
            .right {
                right: 0px;
            }
        }
    }
    
        &-ModalButton2 {
        border-radius: 20px;
        margin: 0 15px;
        background: linear-gradient(#51d0e1,#00bcd4); 
        
                .right {
            position: relative;
            right: 10px;
            transition: 0.2s right;
            top: 18px;
            transform: translateY(-50%);
        }
        &:hover {
            .right {
                right: 0px;
            }
        }
    }


    &-SelectInput {
        width: 50% !important;

    }

    &-SelectDiv {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 45%!important;
        left: 1.5%;

    }




}

.input-otp {
    width: 10%!important;
    height: 36px !important;
    background-color: #efefef !important;
    border: 5px solid #fff!important;
    text-align: center;
    &:focus {
         border-bottom: none !important;  
    box-shadow: none !important; 
    }
   
}

.input-otp::-webkit-inner-spin-button,
.input-otp::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}
