.abc {
    width: 100%;
}

.signupSection {
    @extend .cerafont;
    background-color: white;
    height: 100%; //    overflow: hidden;
    &-LoginText {
        text-align: center;
        margin-bottom: 40px;
        font-family: ceraBlack;
        color: #575558;
    }

    &-formrow {
        display: flex;
        margin: 0 auto;
        position: relative;
        width: 55% !important;
        height: 60px;
        justify-content: space-between;
        
        .dropdown-content li>span {
        color: $loginblue-color;
            text-align: center;
        }
        
//        .select-wrapper {
//           color: $loginblue-color;
//        } 
//        .select-wrapper span.caret {
//            z-index: 9;
//                color: #9da3ac;
//        } 
//        
        input {
            border-bottom: 1.2px solid #c0c0c0 !important;
            &:focus {
                border-bottom: 1px solid $loginblue-color !important;
                box-shadow: 0 1px 0 0 $loginblue-color !important;
                
            }
        }

        &-break {
            position: relative;
            margin: 0;
            width: 48%;
//            .select-dropdown {
//                width: 85% !important;
//                margin: 0 !important;
//            }
//            .break-input {
//                width: 85% !important;
//                margin: 0 !important;
//            }
        }

        input {
            width: 100% !important;
            margin: 0 auto !important;
            display: block !important;
            padding-left: 30px !important;
            box-sizing: border-box !important;
            box-shadow: none !important;
            
        }


        input:focus + svg-img {
            path {
                fill: $loginblue-color !important;
            }
        }




        svg {
            height: 20px;
            width: 20px;
            position: absolute;
            top: 13px;
            left: 5px;
            path {
                fill: #D4DFEF;
            }
        }


    } 
    
    .form-button-wrapper {
        justify-content: flex-end;
    }
    &-button {
        position: relative;
        padding-right: 70px;
        text-transform: capitalize;
        font-size: 100%;
        border-radius: 20px;
        background: linear-gradient(#51d0e1, #00bcd4);
        .right {
            position: absolute;
            right: 40px;
            transition: 0.2s right;
            top: 50%;
            transform: translateY(-50%);
        }
        &:hover {
            .right {
                right: 30px;
            }
        }
        a {
            text-decoration: none;
            color: white;
        }
    }


    &-SignupLink {
        text-align: center;
        span {
            color: #525050;
            font-size: 120%;
            font-family: ceraM;
        }

        a {
            font-family: ceraBlack;
            color: #00bcd4;
        }
    }

    &-Modal {
        border-radius: 35px;
        width: 40vw;
        height: 45vh;
        min-width: 400px;
        min-height: 370px;

    }

    &-ModalContent {
        text-align: center;

    }


    &-ModalText1 {
        color: #13b1c5;
        font-size: 1.3em;
    }

    &-ModalText2 {
        color: grey;
        font-size: .9em;
        margin-top: -10px;
    }


    &-ModalText3 {
        color: #646060;
    }


    &-ModalText4 {
        color: #646060;
        margin-top: 0px;
        cursor: pointer;
        a {
            text-shadow: 0px 1px 2px rgba(0,0,0,.4);
        }
    }

    &-ModalButtons {
        margin: 0 auto;
        display: block;
        width: 400px;
        text-align: center;
        
    }

    &-ModalButton1 {
        width: 165px;
        border-radius: 20px;
        margin: 0 15px;
        background: linear-gradient(#51e19b,#00d450);
        
                .right {
            position: relative;
            right: 10px;
            transition: 0.2s right;
            top: 18px;
            transform: translateY(-50%);
        }
        &:hover {
            .right {
                right: 0px;
            }
        }
    }
    
        &-ModalButton2 {
        width: 165px;
        border-radius: 20px;
        margin: 0 15px;
        background: linear-gradient(#51d0e1,#00bcd4); 
        
                .right {
            position: relative;
            right: 10px;
            transition: 0.2s right;
            top: 18px;
            transform: translateY(-50%);
        }
        &:hover {
            .right {
                right: 0px;
            }
        }
    }


    &-SelectInput {
        width: 50% !important;

    }

    &-SelectDiv {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 45%!important;
        left: 1.5%;

    }

    #error-message {
        color: red;
    }



}

.input-select-style {
    select {
            border: none !important;
            border-bottom: 1px solid #9e9e9e !important;
            outline: none !important;     
        option {
                    text-align: left;        
                    border: none !important;
                    outline: none !important;    
                }
        
        span.caret {
            z-index: 9;
                color: #9da3ac;
        } 
        
        }    

    select:focus {
        outline: none !important;             
        }
}

.password-block {
        width: 100% !important;
    box-sizing: border-box;
}

.input-otp {
    width: 10%!important;
    height: 36px !important;
    background-color: #efefef !important;
    border: 5px solid #fff!important;
    text-align: center;
    &:focus {
    box-shadow: none !important; 
    }
   
}

//Remove the arrow in the input type
.input-otp::-webkit-inner-spin-button,
.input-otp::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

.selected-option {
    color: grey;
}

#otp-error {
    color: red;
    position: relative;
    top: -12px;
}

#otp-success {
    color: green;
    position: relative;
    top: -12px;
}

#margin-less {
    margin-bottom: -35px;
}
