.starcardbox {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 530px;
    height: 71vh !important;
    transition: .3s all;
    @media screen and (max-width: $break-small) {
        padding-top: 7%;
        width: 112%;
        margin-left: -6%;
    }
}

.card1 {
    transform: scale(1);
    top: 180px;
    z-index: 10;
}

.card2 {
    transform: scale(.9);
    top: 220px;
    z-index: 9;
}

.card3 {
    transform: scale(.8);
    top: 261px;
    z-index: 8;
}

.card4 {
    transform: scale(.7);
    top: 303px;
    z-index: 7;
}

.card5 {
    transform: scale(.6);
    top: 345px;
    z-index: 6;
}

.card6 {
    transform: scale(.5);
    top: 387px;
    z-index: 5;
}

.starredcard-arrow-desktop {
    cursor: pointer;
    i {
        border-radius: 100%;
        background: white;
        box-shadow: 0px 0px 2px #00000045;
        color: $primary-color;
        font-size: 85px !important;
        margin-top: 280px;
    }
}


@keyframes rotateout {
  from {
    transform-origin: right bottom;
    opacity: 1;
  }

  to {
    transform-origin: 150% 150%;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0.8;
    display: none !important;
  }
}


.rotateoutanimation {
  animation-name: rotateout;
    animation-fill-mode: forwards;
}


