<div class="">

    <div class="textcenter concept-name">
        <h1 class="truncate">{{conceptdata.name}}</h1>
    </div>
    <div class="row card-row">
        <div class="col s12 m2 l2 textcenter">

            <div class="card-arrow-desktop" ng-hide="(zindexarray[0]==conceptcards.length || conceptcards.length==1)">
                <div class="" ng-click="changecardindex(-1)" id="nav-prev">
                    <i class="material-icons card-arrow-desktop">navigate_before</i>
                </div>
            </div>

        </div>
        <div class="col  s12 m8 l8 " ng-if="!showpractisecards">

            <div class="cardbox">
                <div id="card{{$index}}" class="cardspage" ng-repeat="card in conceptcards" ng-style="{ 'z-index':zindexarray[$index] }">
                    <div class="concepthead" ng-if="$index!=conceptcards.length-1">
                        <div class="row conceptheadcentralize">
                            <div class="col s4"></div>
                            <div class="col s4 truncate textcenter">
                                <h5 class="card-number">
                                    {{$index+1}}/{{conceptcards.length-1}}
                                </h5>
                            </div>
                            <div class="col s5 card-icon">
                                <i class="material-icons concepticon" ng-if="card.user_id!=0 && !otheruserscard" ng-click="changesharestatus(card.id)">{{card.shared==1?'lock_open':'lock_outline'}}</i>
<!--                                <i class="material-icons concepticon" ng-click="changestarstatus(card.id)" ng-style="{color:(card.starred==1)?'#ffeb3b ':''}">{{card.starred==1?'star':'star_border'}}</i>-->
                                <i class="material-icons concepticon HeartAnimation" ng-class="{'star-animation': card.starred==1}" ng-click="changestarstatus(card.id)"></i>
                                <i class="material-icons concepticon" ng-click="addcustomusercard()" ng-hide="conceptcards[$index].editmode">add</i>
                                
                            </div>
                        </div>
                    </div>
                    <div class="scrollbar conceptcontent" id="carddata" ng-bind-html="card.conceptdata" ng-if="!card.editmode && card.user_id==0">
                    </div>
                    <div class="custom-card-wrapper  " ng-if="card.user_id!=0">
                        <div class="scrollbar conceptcontent">
                            <div class="textcenter">
                                <img ng-if="card.image&&!card.editmode" class="img custom-image" ng-src="{{card.image | imagepath}}">
                            </div>

                            <div id="carddata" ng-bind="card.conceptdata" ng-if="!card.editmode">
                            </div>




                            <div class="custom-card textcenter " ng-if="card.editmode">
                                {{card.conceptdata.length}} out of 500 letters
                                <input type='file' file-model="card.image" ng-if="!card.image" id="uploadimg{{$index}}" on-change-event="uploadfile()" />
                                <div ng-if="card.image">
                                    <i class="material-icons right" style="color:#f44336" ng-click="removeimage($index)">cancel</i>
                                    <img class="img " id="image{{$index}}" ng-src="{{card.image|imagepath}}" />
                                </div>

                                <textarea ng-model="card.conceptdata" ng-change="checklength()"></textarea>
                            </div>
                        </div>
                        <div class="row edit-buttons-row" ng-class="{'edit-mode': card.editmode, 'save-mode': !card.editmode}" ng-if="card.user_id==user.id">
                            <div class="col s4 m4" ng-click="cancelcustomcard($index)">CANCEL</div>
                            <!-- <div class="col s4 m4">SHARE</div>-->
                            <div class="col s4 m4 save-edit-button" ng-click="savecustomusercard()" ng-if="card.editmode">SAVE</div>
                            <div class="col s4 m4 save-edit-button" ng-click="editcustomusercard()" ng-if="!card.editmode">EDIT</div>
                            <div class="col s4 m4 modal-trigger" ng-click="deletecustomusercard()">DELETE</div>
                        </div>
                    </div>
                    <!-- <div  > ng-click="deletecustomusercard()"</div> -->
                </div>



            </div>

        </div>
        <div class="col  s12 m8 l8" ng-controller="practisecardsCtrl" ng-if="showpractisecards">

            <div class="cardbox">
                <div id="card{{$index}}" class="cardspage" ng-repeat="card in conceptcards" ng-style="{ 'z-index':zindexarray[$index] }">
                    <div class="concepthead">
                        <div class="row conceptheadcentralize">
                            <div class="col s4"></div>
                            <div class="col s4 truncate textcenter">
                                <h5 class="card-number">
                                    {{$index+1}}/{{conceptcards.length}}
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="scrollbar conceptcontent">
                        <div id="carddata" ng-bind="card.question" ng-if="card.format==1"></div>
                        <div id="carddata" class="codetype-questions" ng-bind-html="card.question" ng-if="card.format==2"></div>
                        <a class="waves-effect waves-light btn cyan" ng-click="showanswers[$index]=!showanswers[$index]" ng-if="$index!=(conceptcards.length-1)">View Answer</a>
                        <div id="carddata" ng-bind="card.answer" ng-if="card.answerformat==1 && showanswers[$index]"></div>
                        <div id="carddata" class="codetype-questions" ng-bind-html="card.answer" ng-if="card.answerformat==2 && showanswers[$index]"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col s12 m2 l2 textcenter">

            <div class="card-arrow-desktop" ng-hide="(zindexarray[conceptcards.length-1]==conceptcards.length || conceptcards.length==1)">
                <div class="" ng-click="changecardindex(1)" id="nav-next">
                    <i class="material-icons">navigate_next</i>
                </div>
            </div>

        </div>
    </div>

    <!--<div style="text-align: center;"><img src={{completioncelebration.gif}} style="font-size: 14px;width:75%;heigth:50%"><button onclick="getpractisecards()" class="row btn waves-effect waves-light cyan">Practise Cards</button><a href="#/conceptcards/{{nextconcept.id }}" class="row btn waves-effect waves-light cyan">Next Concept</a></div>-->
    <!--<div class="row"> 
        <div class="col s12 m3 l2 xl3"></div>
        <div class="col s12 m6 l8 xl6 textcenter iconrow">
            <div class="row">

                <div class="col s3 m3 offset-s1 offset-m1">
                    <div class="featured-image">
                        <div class="round-button"> 
                            <div class="round-button-circle" ng-click="changecardindex(-1)" id="nav-prev">
                                <i class="material-icons round-button">navigate_before</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s4 m4">
                    <div class="HeartAnimation">
                    </div>
                </div>
                <div class="col s3 m3"> 
                    <div class="featured-image">
                        <div class="round-button">
                            <div class="round-button-circle" ng-click="changecardindex(1)" id="nav-next">
                                <i class="material-icons round-button">navigate_next</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m3 l2 xl3"></div>
    </div>-->


</div>
<div id="delete-confirmation" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
