<div class="landing-bg"></div>
<div class="header-div"><img src="/img/sunali-classes.png" alt=""><div class="landing-login">Login</div></div>
<div class="landing-content">
    <p class="landing-maintext">THE SMARTEST WAY TO LEARN CBSE & NCERT</p>
<p class="landing-subtext">India’s smartest educational and doubt solving platform</p>
<div class="joinus-input"><input class="join-inputbox" type="text" onfocus="if(this.value == 'PHONE NUMBER') { this.value = ''; }" onfocusout="if(this.value == '') { this.value = 'PHONE NUMBER'; }" value="PHONE NUMBER"><div class="join-text">JOIN</div></div>
</div>



