 <div class="row mainDiv">
            <div class="col s12 m3 l3 rocketSection img-responsive">
            <img src="/img/rocketsection-design.png" alt="top design" class="rocketSection-TopDesign">
            <img src="/img/star.svg" alt="Star Image" class="rocketSection-Star1">
            <img src="/img/star.svg" alt="Star Image" class="rocketSection-Star2">
            <img src="/img/star.svg" alt="Star Image" class="rocketSection-Star3">
            <img src="/img/star.svg" alt="Star Image" class="rocketSection-Star4">
            <img src="/img/star.svg" alt="Star Image" class="rocketSection-Star5">
            <div class="rocketSection-Rocket"><img src="/img/rocket.png" alt="Rocket Image" >
            <p>ARE YOU READY <br> FOR TAKE OFF</p></div>
            <div class="rocketSection-BlueBg"></div>
            
            <img src="/img/rocketsection-astroman.png" alt="Rocket Section" class="rocketSection-Astroman">
            <img src="/img/rocketsection-design2.png" alt="top design" class="rocketSection-BottomDesign img-responsive">

            
            </div>
            
                       
                       
                       
            <div class="col s12 m9 l9 loginSection">                        
               <div class="row">
                    <h2 class="loginSection-LoginText">LOGIN</h2>
                    <form class="col s12">
                        <div class="row">
                            <div class=" col s12 loginSection-Phone">
                                                        
                                <input id="phone" type="tel" class="validate" ng-model="logindata.contact" ng-enter="dologin()" placeholder="Phone Number">
                                <svg-img src="../img/phone1.svg"></svg-img>
                            </div>
                            <div class=" col s12 loginSection-Password">
                                <input id="password" type="password" class="validate" ng-model="logindata.password" ng-enter="dologin()" placeholder="Password">
                                <svg-img src="../img/lock.svg"></svg-img>

                            </div>
                            <div class=" col s12 loginSection-ForgotPassword">
                                <a href="#">Forgot Password?</a>
                            </div>
                        </div>

                    </form>
                </div>
                <div ng-if="error">
                    Invalid credentials. Please enter valid credentials.
                </div>
                    <button class="btn loginSection-Button" type="submit" name="action" ng-click="dologin()">Login
                        <i class="material-icons right buton-arrow">arrow_forward</i>
                    </button>
                                
                    <div class="loginSection-SignupLink"><span>Not yet registered? <a href="#">Sign Up</a></span></div>
                                 
            </div>
</div>
