<div class="">

    <div class="textcenter concept-name">
        <h1 class="truncate">{{conceptdata.name}}</h1>
    </div>
    <div class="row card-row">
        <div class="col s12 m2 l2 textcenter">

            <div class="card-arrow-desktop" ng-hide="(zindexarray[0]==conceptcards.length || conceptcards.length==1)">
                <div class="" ng-click="changecardindex(-1)" id="nav-prev">
                    <i class="material-icons card-arrow-desktop">navigate_before</i>
                </div>
            </div>

        </div>
    <div class="col  s12 m8 l8" ng-controller="conceptcardsCtrl" >

    <div class="cardbox">
        <div id="card{{$index}}" class="cardspage" ng-repeat="card in conceptcards" ng-style="{ 'z-index':zindexarray[$index] }">
            <div class="concepthead">
                <div class="row conceptheadcentralize">
                    <div class="col s4"></div>
                    <div class="col s4 truncate textcenter">
                        <h5 class="card-number">
                            {{$index+1}}/{{conceptcards.length}}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="scrollbar conceptcontent" id="carddata" ng-bind="card.question"></div>
            <div class="col s4 m4 save-edit-button">SAVE</div>
        </div>
    </div>
</div>
