<div class="row mainDiv">
    <div class="col s12 m3 l3 rocketSection">
        <img src="/img/rocketsection-design.png" alt="top design" class="rocketSection-TopDesign img-responsive">
        <img src="/img/star.svg" alt="Star Image" class="rocketSection-Star1 img-responsive">
        <img src="/img/star.svg" alt="Star Image" class="rocketSection-Star2 img-responsive">
        <img src="/img/star.svg" alt="Star Image" class="rocketSection-Star3 img-responsive">
        <img src="/img/star.svg" alt="Star Image" class="rocketSection-Star4 img-responsive">
        <img src="/img/star.svg" alt="Star Image" class="rocketSection-Star5 img-responsive">
        <div class="rocketSection-Rocket"><img src="/img/rocket.png" alt="Rocket Image">
            <p>ARE YOU READY <br> FOR TAKE OFF</p>
        </div>
        <div class="rocketSection-BlueBg"></div>

        <img src="/img/rocketsection-astroman.png" alt="Rocket Section" class="rocketSection-Astroman">
        <img src="/img/rocketsection-design2.png" alt="top design" class="rocketSection-BottomDesign img-responsive">
    </div>




    <div class="col s12 m9 l9 signupSection">
        <div class="row">
            <h2 class="signupSection-LoginText">Sign Up</h2>
                         <div class="abc">
                <form name="myForm" class="col s12">
                   
                    <div class="signupSection-formrow">
                        <input id="name" type="text" class="validate" placeholder="Name" ng-model="signupdata.name">
                        <svg-img src="../img/name1.svg" class=".nameSvg"></svg-img>
                    </div>
                    
                    <div class="signupSection-formrow">
                        <input id="school" type="text" class="validate" placeholder="School" ng-model="signupdata.school">
                        <svg-img src="../img/school1.svg" class="signupSection-NameImg"></svg-img>
                    </div>
                    
                    <div class="signupSection-formrow">
                       
                        <div class="input-field signupSection-formrow-break" id="select-standard">
                        <select class="select-dropdown" ng-model="standardfilter.board_id">
                        <option value="{{$index}}" ng-repeat="board in fulldataofboards">{{board.name}}</option>
                        </select>
                        </div>
                        
                        <div class="input-field signupSection-formrow-break">
                        <select class="select-dropdown" ng-model="standardfilter.standard_id">
                        <option  value="{{$index}}" ng-repeat="standard in fulldataofboards[standardfilter.board_id].standards">{{standard.name}}</option>
                        </select>
                        </div>
                        
                    </div>

                    <div class="signupSection-formrow">
                        <input id="email" type="email" class="validate" placeholder="name@company.com" ng-model="signupdata.email">
                        <svg-img src="../img/mail1.svg" class="signupSection-NameImg"></svg-img>
                    </div>

                    <div class="signupSection-formrow">
                        <input id="phone" type="tel" class="validate" placeholder="Phone Number" ng-model="signupdata.contact">
                        <svg-img src="../img/phone.svg" class="signupSection-NameImg"></svg-img>
                    </div>


                    <div class="signupSection-formrow">
                        <div class="signupSection-formrow-break">
                            <input id="password" type="password" class="validate break-input" placeholder="****" ng-model="signupdata.password">
                            <svg-img src="../img/lock.svg" class="signupSection-PassImg"></svg-img>
                        </div>
                        <div class="signupSection-formrow-break">
                            <input id="confirmpassword" type="password" class="validate break-input" placeholder="****" ng-model="signupdata.confpassword">
                            <svg-img src="../img/lock.svg" class="signupSection-PassImg"></svg-img>
                        </div>
                    </div>

                    <div class="signupSection-formrow">

                        <span id="error-message">{{errormsg}}</span>

                    </div>


                </form>
            </div>
        </div>
        <div ng-if="error">
            Invalid credentials. Please enter valid credentials.
        </div>


        <div class="signupSection-formrow form-button-wrapper">
            <button class="btn signupSection-button modal-trigger" data-target="modal1" type="submit" name="action" ng-click="doSignUp()">Sign Up<i class="material-icons right">arrow_forward</i></button>
        </div>




        <!-- Modal Structure -->
        <div id="modal1" class="modal signupSection-Modal">
            <div class="modal-content signupSection-ModalContent">
                <p class="signupSection-ModalText1">Just making sure it's really you</p>
                <p class="signupSection-ModalText2">Sent an OTP at {{signupdata.phonename}}</p>
                <p class="signupSection-ModalText3">Enter your OTP</p>
                <input type="number" class="input-otp" ng-model="input-otp1"><input type="number" class="input-otp" ng-model="input-otp2"><input type="number" class="input-otp" ng-model="input-otp3"><input type="number" class="input-otp" ng-model="input-otp4">
                <span id="otp-error">{{modalerrormsg}}</span>
                <p class="signupSection-ModalText4"><a href="#">RESEND OTP</a></p>
            </div>
            <div class="signupSection-ModalButtons">
                <button class="btn signupSection-ModalButton1" type="submit" name="action" ng-click="dologin()">Edit Details</button>
                <button class="btn signupSection-ModalButton2 signupSection-modal-button-validate" type="submit" name="action" ng-click="verifyOtp()">Validate<i class="material-icons right">arrow_forward</i></button>
            </div>
        </div>

        <div class="signupSection-SignupLink"><span>Already registered? <a href="#login">Login</a></span></div>

    </div>
</div>
