<div class="">

    <div class="textcenter concept-name">
        <h1 class="truncate">{{conceptdata.name}}</h1>
    </div>
    <div class="row card-row">
        <div class="col s12 m2 l2 textcenter">

            <div class="card-arrow-desktop" ng-hide="(zindexarray[0]==conceptcards.length || conceptcards.length==1)">
                <div class="" ng-click="changecardindex(-1)" id="nav-prev">
                    <i class="material-icons card-arrow-desktop">navigate_before</i>
                </div>
            </div>

        </div>
        <div class="col  s12 m8 l8 ">

            <div class="cardbox">
                    <div id="card{{$index}}" class="cardspage" ng-repeat="card in conceptcards" ng-style="{ 'z-index':zindexarray[$index] }">                    
                       <div class="concepthead">
                        <div class="row conceptheadcentralize">
                            <div class="col s4"></div>
                            <div class="col s4 truncate textcenter">
                                <h5 class="card-number">
                                    {{cardindex+1}}/{{conceptcards.length}}
                                </h5>
                            </div>
                            <div class="col s5">
                                <!--                               <i class="material-icons concepticon" ng-if="card.user_id!=0" ng-click="changesharestatus(card.id)">{{card.shared==1?'lock_open':'lock_outline'}}</i>-->
                                <i class="material-icons concepticon HeartAnimation" ng-class="{'star-animation': card.starred==1}" ng-click="changestarstatus(card.id)"></i>


                            </div>
                        </div>
                    </div>
                    <div class="scrollbar conceptcontent" id="carddata" ng-bind-html="card.conceptdata" ng-if=" card.user_id==0">
                    </div>
                    <div class="custom-card-wrapper" ng-if="card.user_id!=0">
                        <div class="scrollbar conceptcontent">
                            <div class="textcenter">
                                <img ng-if="card.image&&!card.editmode" class="img custom-image" ng-src="{{card.image | imagepath}}">
                            </div>

                            <div id="carddata" ng-bind="card.conceptdata" ng-if="!card.editmode">
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
        
         <div class="col  s12 m8 l8" ng-controller="practisecardsCtrl" ng-if="showpractisecards">

            <div class="cardbox">
                <div id="card{{$index}}" class="cardspage" ng-repeat="card in conceptcards" ng-style="{ 'z-index':zindexarray[$index] }">
                    <div class="concepthead">
                        <div class="row conceptheadcentralize">
                            <div class="col s4"></div>
                            <div class="col s4 truncate textcenter">
                                <h5 class="card-number">
                                    {{cardindex+1}}/{{conceptcards.length}}
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="scrollbar conceptcontent">
                        <div id="carddata" ng-bind="card.question" ng-if="card.format==1"></div>
                        <div id="carddata" class="codetype-questions" ng-bind-html="card.question" ng-if="card.format==2"></div>
                        <a class="waves-effect waves-light btn cyan" ng-click="showanswers[$index]=!showanswers[$index]" ng-if="$index!=(conceptcards.length-1)">View Answer</a>
                        <div id="carddata" ng-bind="card.answer" ng-if="card.answerformat==1 && showanswers[$index]"></div>
                        <div id="carddata" class="codetype-questions" ng-bind-html="card.answer" ng-if="card.answerformat==2 && showanswers[$index]"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col s12 m2 l2 textcenter">

            <div class="card-arrow-desktop" ng-hide="(zindexarray[conceptcards.length-1]==conceptcards.length || conceptcards.length==1)">
                <div class="" ng-click="changecardindex(1)" id="nav-next">
                    <i class="material-icons">navigate_next</i>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div id="delete-confirmation" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
-->
