<div class="">

    <div class="textcenter concept-name">
        <h1 class="truncate">Starred Cards</h1>
    </div>
    <div class="row card-row">
        <div class="col s12 m2 l2 textcenter">

            <div class="starredcard-arrow-desktop">
                <div class="" ng-click="changeprevcard(-1)" id="nav-prev">
                    <i class="material-icons card-arrow-desktop">navigate_before</i>
                </div>
            </div>

        </div>
        <div class="col  s12 m8 l8 " style="    top: -160px;
    position: relative;">

            <div class="starcardbox card{{$index}} animated" ng-repeat="card in starredcards" style='z-index: {{1000-$index}}; top: {{($index*40)+"px"}};transform: scale({{1-($index*0.1)}}); opacity:{{1-($index*0.1)}} '>
                    <div id="card{{$index}}" class="cardspage" >                    
                       <div class="concepthead">
                        <div class="row conceptheadcentralize">
                            <div class="col s4"></div>
                            <div class="col s4 truncate textcenter">
                                <h5 class="card-number">
                                    {{cardindex+1}}/{{conceptcards.length}}
                                </h5>
                            </div>
                            <div class="col s5">
                                <i class="material-icons concepticon HeartAnimation" ng-class="{'star-animation': card.starred==1}" ng-click="changestarstatus(card.id)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--<div class="starcardbox card2 animated">
                    <div id="card{{$index}}" class="cardspage" >                    
                       <div class="concepthead">
                        <div class="row conceptheadcentralize">
                            <div class="col s4"></div>
                            <div class="col s4 truncate textcenter">
                                <h5 class="card-number">
                                    {{cardindex+1}}/{{conceptcards.length}}
                                </h5>
                            </div>
                            <div class="col s5">
                                <i class="material-icons concepticon HeartAnimation" ng-class="{'star-animation': card.starred==1}" ng-click="changestarstatus(card.id)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
              <div class="starcardbox card3 animated">
                    <div id="card{{$index}}" class="cardspage" >                    
                       <div class="concepthead">
                        <div class="row conceptheadcentralize">
                            <div class="col s4"></div>
                            <div class="col s4 truncate textcenter">
                                <h5 class="card-number">
                                    {{cardindex+1}}/{{conceptcards.length}}
                                </h5>
                            </div>
                            <div class="col s5">
                                <i class="material-icons concepticon HeartAnimation" ng-class="{'star-animation': card.starred==1}" ng-click="changestarstatus(card.id)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="starcardbox card4 animated">
                    <div id="card{{$index}}" class="cardspage" >                    
                       <div class="concepthead">
                        <div class="row conceptheadcentralize">
                            <div class="col s4"></div>
                            <div class="col s4 truncate textcenter">
                                <h5 class="card-number">
                                    {{cardindex+1}}/{{conceptcards.length}}
                                </h5>
                            </div>
                            <div class="col s5">
                                <i class="material-icons concepticon HeartAnimation" ng-class="{'star-animation': card.starred==1}" ng-click="changestarstatus(card.id)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
                 <div class="starcardbox card5 animated">
                    <div id="card{{$index}}" class="cardspage" >                    
                       <div class="concepthead">
                        <div class="row conceptheadcentralize">
                            <div class="col s4"></div>
                            <div class="col s4 truncate textcenter">
                                <h5 class="card-number">
                                    {{cardindex+1}}/{{conceptcards.length}}
                                </h5>
                            </div>
                            <div class="col s5">
                                <i class="material-icons concepticon HeartAnimation" ng-class="{'star-animation': card.starred==1}" ng-click="changestarstatus(card.id)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        
        <div class="col s12 m2 l2 textcenter">

            <div class="starredcard-arrow-desktop" >
                <div class="" ng-click="changecard(1)" id="nav-next">
                    <i class="material-icons">navigate_next</i>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div id="delete-confirmation" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
-->
